{% extends "layout.html" %}
{% block title %}In game roles{% endblock %}
{% block content %}

Select an in-game role for a player.

<form action="/in_game_roles_send" method="POST"> <br>
    <br>
    Which person: <br>
    <SELECT name="person_id">
    <br>
        {% for person in people_is_player %}
            <OPTION value={{person.id}}>{{person.name}}</option>
        {% endfor %}
    </SELECT>
    <br>
    <br>

    Are they a damage player?: <br>
        <SELECT name="damage">
    <br>
    
            <OPTION value={{False}}>No</option>
            <OPTION value={{True}}>Yes</option>
                
        </SELECT>
    <br>

    Are they a tank player?: <br>
        <SELECT name="tank">
    <br>
    
            <OPTION value={{False}}>No</option>
            <OPTION value={{True}}>Yes</option>
                
        </SELECT>
    <br>

    Are they a support player?: <br>
        <SELECT name="support">
    <br>
    
            <OPTION value={{False}}>No</option>
            <OPTION value={{True}}>Yes</option>
                
        </SELECT>
    <br>

    <input type="submit" value="add">
    </form>
{% endblock %}