{% extends "layout.html" %}
{% block title %}Home page{% endblock %}
{% block content %}


{% if session.username %}
<p>You're logged in as user {{ session.username }}</p>
<a href="/logout">Logout</a>
<hr>

Tournament count: {{ count }}

List of tournaments:
<br>
<ul>
    {% for tournament in tournaments %}
    <li>{{ tournament.name }}</li>

    {% endfor %}
</ul>
<br>
Choose table
<br>
<ul>
    <li>
        <a href="/tournaments">Tournaments</a>
    </li>
    <li>
        <a href="/teams">Teams</a>
    </li>
    <li>
        <a href="/tournaments_teams">Which tournaments teams play in</a>
    </li>
    <li>
        <a href="/people">People</a>
    </li>
    <li>
        <a href="/people_teams_roles">People's roles on teams</a>
    </li>
    <li>
        <a href="/in_game_roles">Players' in-game roles</a>
    </li>
</ul>



{% else %}
<a href="/register">Create an account</a>

<br><br><br>
<form action="/login" method="POST">
Login
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
{% block error %}{% endblock %}
</form>

{% endif %}






{% endblock %}