.container {
    margin: 1%;
    max-width: 98%;
}

.table {
    width: 100%;
}

.row {
    margin-left: 1%;
    margin-right: 1%;
}

.th.col {
    max-width: 10%;
}

.td.col {
    max-width: 10%;
}

.form-group {
    width: 10%;
}

.logo {
    margin-left: 1%;
    width: 1.5em;
}