{% extends "layout.html" %}
{% block title %}Home page{% endblock %}
{% block content %}


{% if session.username %}
<p>You're logged in as user {{ session.username }}</p>
<a href="/logout">Logout</a>
<hr>

Welcome to the Overwatch Teams database app!
<br>
If you haven't already, start by adding your team to the database below. After this, you can add players to your team! 

<br>
NEW AGE STUFF
<br>
<ul>
    <li>
        <a href="/teams">Add teams to the database</a>
    </li>
    <li>
        <a href="/new_people">Add people to the database</a>

    <li>
        <a href="/tournaments">Add tournaments to the database</a>
    </li>
    <li>
        <a href="/tournaments_teams">Add teams to tournaments</a>
    </li>
    <li>
        <a href="/update_people_teams_roles">Update people's roles on teams</a>
    </li>
    <li>
        <a href="/update_in_game_roles">Update player's in-game roles</a>
    </li>
</ul>

{% else %}
<a href="/register">Create an account</a>

<br><br><br>
<form action="/login" method="POST">
Login
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
</form>

{% endif %}


{% endblock %}