{% extends "layout.html" %}
{% block title %}Home page{% endblock %}
{% block content %}


{% if session.username %}
<p class="fs-5">You're logged in as user {{ session.username }}</p>

<div class="list-group">
    <a href="/logout" class="list-group-item list-group-item-action" style="max-width: 5.5em;">
        Logout
    </a>
</div>
<hr>
<p class="fs-5">
    Welcome to the Overwatch Teams database app!
    <br>
    If you haven't already, start by adding your team to the database below. After this, you can add players to your
    team!
</p>
<br>
<br>

What would you like to do?

<br>
<br>

<div class="list-group">
    <a href="/teams" class="list-group-item list-group-item-action">
        Add teams to the database
    </a>
    <a href="/new_people" class="list-group-item list-group-item-action">
        Add people to the database
    </a>
    <a href="/tournaments" class="list-group-item list-group-item-action">
        Add tournaments to the database
    </a>
    <a href="/tournaments_teams" class="list-group-item list-group-item-action">
        Add teams to tournaments
    </a>
    <a href="/update_people_teams_roles" class="list-group-item list-group-item-action">
        Update people's roles on teams
    </a>
    <a href="/update_in_game_roles" class="list-group-item list-group-item-action">
        Update player's in-game roles
    </a>
</div>

<br>
<br>

Search functions:

<br>
<br>
<div class="list-group">
    <a href="/search_players" class="list-group-item list-group-item-action">
        Search players
    </a>
</div>




{% else %}

<div class="list-group">
    <a href="/register" class="list-group-item list-group-item-action" style="max-width: 10.5em;">
        Create an account
    </a>
</div>

<br>

<form action="/login" method="POST">
    <p class="fs-5">Login</p>
    <p>Username:<br>
        <input type="text" name="username">
    </p>
    <p>Password:<br>
        <input type="password" name="password">
    </p>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>

{% endif %}

<br>
{% block message %}{% endblock %}

{% endblock %}