{% extends "layout.html" %}
{% block title %}Teams{% endblock %}
{% block content %}

{% block message %}{% endblock %}
<br>

<div class="row">
    <form action="/teams_send" method="POST">
        <p class="fs-5">Add team</p>
        name: <br>
        <textarea name="name" rows="3" cols="40"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
{% endblock %}