{% extends "layout.html" %}
{% block title %}Tournaments{% endblock %}
{% block content %}
<form action="/tournaments_send" method="POST">
    Add tournament <br>
    <br>
    name: <br>
    <textarea name="name" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="add">
    </form>

        <br>
        <br>
        Current tournament count: {{ count }}
        <br>

        List of tournaments:
        <br>
        <ul>
            {% for tournament in tournament_list %}
            <li>{{ tournament.name }}</li>
        
            {% endfor %}
        </ul>
{% endblock %}