{% extends "layout.html" %}
{% block title %}Tournaments teams{% endblock %}
{% block content %}

Which tournament does a particular team play in?

<form action="/tournaments_teams_send" method="POST"> <br>
    <br>
    Which team: <br>
        <SELECT name="team_id">
    <br>
            {% for team in teams %}
                <OPTION value={{team.id}}>{{team.name}}</option>
            {% endfor %}
        </SELECT>  
    <br>
    
    Which tournament is this team a part of: <br>
        <SELECT name="tournament_id">
    <br>
            {% for tournament in tournaments %}
                <OPTION value={{tournament.id}}>{{tournament.name}}</option>
            {% endfor %}
        </SELECT>
    <br>
    <br>

    <input type="submit" value="add">
    </form>
{% endblock %}