{% extends "layout.html" %}
{% block title %}Tournaments teams{% endblock %}
{% block content %}

{% block message %}{% endblock %}
<br>

<p class="fs-5">Which tournament does a particular team play in?</p>

<form action="/tournaments_teams_send" method="POST">
    Which team: <br>
    <SELECT name="team_id">
        <br>
        {% for team in teams %}
        <OPTION value={{team.id}}>{{team.name}}</option>
        {% endfor %}
    </SELECT>
    <br>

    Which tournament is this team a part of: <br>
    <SELECT name="tournament_id">
        <br>
        {% for tournament in tournaments %}
        <OPTION value={{tournament.id}}>{{tournament.name}}</option>
        {% endfor %}
    </SELECT>
    <br>
    <br>

    <button type="submit" class="btn btn-primary">Add</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}