{% extends "layout.html" %}
{% block title %}People teams roles{% endblock %}
{% block content %}
<p class="fs-5">Connect a person and their role in a team. A person can be a player, manager or a coach simultaneously
    on the same team
    or on separate teams.
    <br>Leave selection empty if the person does not fulfill that role.
</p>

{% block message %}{% endblock %}
<br>

<form action="/update_people_teams_roles_send" method="POST">
    Which person: <br>
    <SELECT name="person_id">
        <br>
        {% for person in people %}
        <OPTION value={{person.id}}>{{person.name}}</option>
        {% endfor %}
    </SELECT>
    <br>
    <br>

    Are they a player for a team?: <br>
    <SELECT name="player_team">
        <br>
        {% for team in teams %}
        <OPTION value={{team.id}}>{{team.name}}</option>
        {% endfor %}
    </SELECT>
    <br>

    Are they a coach for a team?: <br>
    <SELECT name="coach_team">
        <br>
        {% for team in teams %}
        <OPTION value={{team.id}}>{{team.name}}</option>
        {% endfor %}
    </SELECT>
    <br>

    Are they a manager for a team?: <br>
    <SELECT name="manager_team">
        <br>
        {% for team in teams %}
        <OPTION value={{team.id}}>{{team.name}}</option>
        {% endfor %}
    </SELECT>
    <br>
    <br>

    <button type="submit" class="btn btn-primary">Update</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}